@model zerohunger.Models.adminData
@{
    ViewBag.Title = "Index";
}

<h1>Pickup Requests</h1>
<div class="row m-0 my-1 bg-dark p-3 rounded text-white">
    <div class="col-2 border-end">Restaurant Name</div>
    <div class="col-2 border-end">Food Validity</div>
    <div class="col-2 border-end">Weight</div>
    <div class="col-2 text-warning">Status</div>
    <div class="col-4 text-md-center">Assigned Collector</div>

</div>
@foreach(var item in Model.requests)
            {
                   
                   <div class="row m-0 my-1 border border-primary p-3 rounded ">
                       <div class="col-2 border-end">
                           @item.restrurant.name
                       </div>
                       <div class="col-2 border-end">
                           @item.validity.ToString("dd-MM-yyyy")
                       </div>
                       <div class="col-2 border-end">
                           @item.weight kg
                       </div>
                       @if(item.status.Equals("pending"))
                       {
                           <div class="col-2 border-end text-warning">
                               @item.status
                           </div>
                       }
                       else if(item.status.Equals("Assigned"))
                       {
                           <div class="col-2 border-end text-primary">
                               @item.status
                           </div>
                       }
                       else if(item.status.Equals("claimed"))
                       {
                           <div class="col-2 border-end text-success">
                               @item.status
                           </div>
                       }
                       else
                       {
                            <div class="col-2 border-end text-danger">
                               @item.status
                            </div>
                       }
                       
                       <div class="col-4 d-flex justify-content-center">
                           @if (item.status.Equals("pending"))
                           {<form action="" method="post" class="row">
                                   <input type="hidden" name="requestId" value="@item.id" />
                                   <div class="col-auto">
                                       <select class="form-select" name="collectorId">
                                           @foreach (var collector in Model.collectors)
                                           {
                                               <option value="@collector.id">@collector.name</option>
                                           }
                                       </select>
                                   </div>
                                   <div class="col-auto">
                                       <button type="submit" class="btn btn-primary">Assign</button>
                                   </div>
                               </form>


                           }
                           else
                           {
                               <div class="text-md-center text-success">@item.collector.name</div>
                           }
                       </div>
                       </div>

                       }

