
<main>
    <ul class="nav bg-black bg-opacity-25">
        <li class="nav-item">
            <a class="nav-link " href="../Home/Index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../Home/Personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/Projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="../Home/References">References</a>
        </li>
    </ul>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Personal</h1>
        <p class="lead">Name: @Model.Name</p>
        <p class="lead">Father's Name: @Model.FathersName</p>
        <p class="lead">Mother's Name: @Model.MothersName</p>
        <p class="lead">D.O.B: @Model.DateOfBirth</p>
        <p class="lead">Mobile No: @Model.PhoneNo</p>
        <p class="lead">Address: @Model.PresentAddress</p>
    </section>


</main>

